/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/FTu43pusqEVL.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/BuTAFgAZvpx7.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/UToWZDDXQoZB.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/yHMc1HvYhQdJ.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/ALjiqrGRWsjJ.otf') format('truetype');
}