/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/3kKl5jtOaRxV.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/kLTUexlNlNPh.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/nzyoQcyVHDsd.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/yyWfd3jdGjyW.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/5oiQf2ly2rmN.otf') format('truetype');
}