/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/TXIRw1ktrH4X.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/odtLdzIdDh33.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/M0C0FjoZm6f8.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/zgnEk7fd0l9t.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/kAf5IfNWFnA9.otf') format('truetype');
}