/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/1v0mCBB7BHPD.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/ltnzbduGK7MI.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/nM6MCQo7wfok.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/pjK48PSQGkrQ.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/GsiMTJJiFvnd.otf') format('truetype');
}