/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/XIHucKtb3ozN.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/zX6kUzKaq2qB.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/EvYfYBHE9Y4I.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/sftkmkubLC8h.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/CrrSyvqeaDCe.otf') format('truetype');
}