/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/hlRRzvNwZUxn.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/HEsPKUpgHsG5.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/ZD9dYXyVNj8p.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/hnHlLcwl0fyp.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/kaVwQ5FDppKX.otf') format('truetype');
}